
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints

logs/

weights/

data/carla/labels/

.vscode/

.idea/
Models/
data/carla/images/

data/carla_only_cars/labels/

data/carla_only_cars/images/
